.game {
    background: #358ab3;

    .field {
        height: 60px; 
        width: 60px; 
        margin: -11px; 
        position: relative;
    }

    .field.top {
        margin: 0;
        margin-bottom: -11px;
    }

    .qbert {
        position: absolute; 
        top: -10px; 
        left: 20px; 
        animation-iteration-count: infinite;
    }
}