<div class="game" layout-fill layout="column" layout-align="center center">
    <div ng-repeat="row in grid" layout="row" layout-align="center center">
        <div ng-repeat="field in row track by $index" class="field" ng-class="{ 'top' : $parent.$index === 0 }">
            <field style="height: 60px; width: 60px; display: block;"></field>
            <!--<img src="assets/images/cube.svg" width="60" height="60" />-->
            <img class="qbert animated bounce" src="assets/images/qbert.png" height="35" ng-if="$parent.$index === 0">
        </div>
    </div>
</div>