<div class="info" layout="row">
    <div>
        <div layout="column" layout-align="center center">
            <div style="margin-bottom: 5px;">Target:</div>
            <!--<div style="width: 30px; height: 30px;" ng-style="{ 'background' : color }"></div>-->
            <div class="field-container">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="60" height="60" viewBox="0 0 512 606">
                    <polygon points="256,343 47,195 256,47 465,195" fill="{{color}}" />
                    <polygon points="256,343 465,195 465,411 256,559" id="right" />
                    <polygon points="256,343 256,559 47,411 47,195" id="left" />
                </svg>
            </div>
        </div>
    </div>
    <div flex></div>
    <div layout="column" layout-align="start center">
        <div layout="row" style="width: 100%; margin-bottom: 15px;">
            <div>Level:</div>
            <div flex></div>
            <div>{{level}}</div>
        </div>
        <div layout="row" style="width: 100%; margin-bottom: 15px;">
            <div style="padding-right: 5px;">Points:</div>
            <div flex></div>
            <div>{{points}}</div>
        </div>
        <div layout="row" layout-align="center center" style="width: 100%;">
            <div>Lives:</div>
            <div flex></div>
            <img ng-repeat="live in getArrayNumber(lives) track by $index" ng-src="assets/images/qbert.png" height="20" style="padding: 0 2px">
        </div>
    </div>
</div>
</div>