body {
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.flex > * {
  max-width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ui-view {
  display: block;
  background: #000;
  color: yellow;
}