<div class="keyboard" ng-class="{ 'lock' : jumpBlock }">
    <div layout="row">
        <div class="key left" layout="row" layout-align="center center" ng-show="possibleMoves.indexOf(directions.upLeft) !== -1"
            ng-click="move(directions.upLeft)">
            <i class="material-icons">arrow_upward</i>
        </div>
        <div class="key right" layout="row" layout-align="center center" ng-show="possibleMoves.indexOf(directions.upRight) !== -1"
            ng-click="move(directions.upRight)">
            <i class="material-icons">arrow_upward</i>
        </div>
    </div>
    <div layout="row">
        <div class="key right" layout="row" layout-align="center center" ng-show="possibleMoves.indexOf(directions.downLeft) !== -1"
            ng-click="move(directions.downLeft)">
            <i class="material-icons">arrow_downward</i>
        </div>
        <div class="key left" layout="row" layout-align="center center" ng-show="possibleMoves.indexOf(directions.downRight) !== -1"
            ng-click="move(directions.downRight)">
            <i class="material-icons">arrow_downward</i>
        </div>
    </div>
</div>